
            :host {
                /*background-color: var(--menu-control-background-color);*/
                flex: 1;
            }
            .clickable{
                cursor: pointer;
            }
            .popup {
                flex-direction: column;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                border: var(--connector-dialog-border);
                background-color: var(--connector-dialog-background-color);
                padding: 0em;
                margin: 1em;
                border-radius: 0em;
                -webkit-box-shadow: var(--connector-dialog-shadow);
                   -moz-box-shadow: var(--connector-dialog-shadow);
                        box-shadow: var(--connector-dialog-shadow);
                z-index: 1;
            }
            .show {
                display: flex;
            }
            .hide {
                display: none;
            }
            .button {
                cursor: pointer;
            }
            .link {
                margin-left: 0.5em;
            }
            .active {
                cursor: pointer;
            }
            .disabled {
                cursor: not-allowed;
                opacity: 0.25;
            }
            .clear {
                color: var(--connector-button-clear-color);
            }
            .controls {
                flex: 0;
                text-align: right;
                padding: 0.5em;
            }
            .content {
                flex: 1;
                display: flex;
                flex-direction: row;
                overflow-y: hidden; /* Fixes overflow scrolling issue in flexbox, because inherited value is 'visible' */
            }
            .filters {
                flex: 0;
                display: flex;
                flex-direction: column;
                margin: 0.5em;
                max-height: 100%; /* Fixes overflow scrolling issue in flexbox with Chromium 73+ => https://support.google.com/chrome/thread/3101009?msgid=4942418 */
            }
            .connectors {
                flex: 1;
                display: flex;
                flex-direction: column;
                margin: 0.5em;
                max-height: 100%; /* Fixes overflow scrolling issue in flexbox with Chromium 73+ => https://support.google.com/chrome/thread/3101009?msgid=4942418 */
            }
            .pattern {
                flex: 0;
                width: 100%;
                min-width: 16em;
            }
            .scroll {
                flex: 1;
                overflow-y: scroll;
            }
            .tags {
                background-color: var(--connector-tag-list-background-color);
                line-height: 1.5em;
                padding: 0.5em;
            }
            .separator {
                flex: 0;
                font-weight: bold;
                color: var(--connector-dialog-category-color);
                border-bottom: var(--connector-dialog-separator);
                /*margin-bottom: 0.5em;*/
                padding-left: 0.5em;
                padding-top: 0.5em;
                padding-bottom: 0.25em;
                text-transform: uppercase;
            }
            .cards {
                
                display: flex;
                flex-direction: row;
                width: 30em;
                float: left;
                background-color: var(--connector-card-background-color);
                border: var(--connector-card-border);
                -webkit-box-shadow: var(--connector-card-shadow);
                   -moz-box-shadow: var(--connector-card-shadow);
                        box-shadow: var(--connector-card-shadow);
                margin: 1em;
                padding: 0.5em;
            }
            .card:hover {
                background-color: var(--connector-card-highlighted);
            }
            .cardSelected {
                background-color: var(--connector-card-selected) !important;
            }
            .icon {
                width: 3.25em;
                height: 3.25em;
            }
            .description {
                flex: 1;
                margin-left: 0.5em;
            }
            .heading {
                display: flex;
                flex-direction: row;
                flex: 0;
                margin-bottom: 0.25em;
                border-bottom: var(--connector-title-border);
            }
            .title {
                flex: 1;
                font-size: 1.25em;
                font-weight: bold;
            }
            .control {
                flex: 0;
                white-space: nowrap;
            }
            .tag {
                white-space: nowrap;
                color: var(--connector-tag-color);
                background-color: var(--connector-tag-background-color);
                /*border: var(--connector-tag-border);*/
                border-radius: 0.5em;
                padding-left: 0.3em;
                padding-right: 0.3em;
            }
            .tagSelected {
                background-color: var(--connector-tag-selected) !important;
            }
        